*{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
    font-family: 'Castoro', serif;
}

body{
    width: 95%;
}

.dice_table{
    text-align: center;
    padding-bottom: 6vh;
    
}
.dice_table tr{
    display: inline-flex;
    flex-wrap: wrap;
    
}

.dice_table td{
    padding: 1vh 3vw;
    border-style: hidden; 
    background-color:  #ffffff;
    
}
.button_container{
      display: flex;
  justify-content: center;
}

.roll_Count_Button_Container{
    width: 12vw;
    text-align: center;
    padding: 2vh 0;
}

.roll{
    width: fit-content;
    font-size: 20px;
    padding: 0 1vw;
    
}
#pass{
    margin-bottom: 8vh;
}

.player_Text{
    padding-bottom: 1vh;
}

.sum_table{
    border-collapse: separate;
    border-spacing: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
    margin-bottom: 5vh;
    text-align: center;
}


.sum_table th, td{
    padding: .8vw;
    overflow-wrap:break-word;
}

table{
    font-size: 12px;
}


.whole{
    margin: 14vh 0;
    display: flex;
    flex-wrap: wrap;
}

.upper_table, .lower_table, .final_total{
    table-layout: fixed;
    border-radius: 10px;
    border-spacing: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
    border: 1px solid #000000;
    border-bottom: 5px solid #000000;
    margin-bottom: 8vh;
    text-align: center;
}

select{
    width: 3vw;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    min-width: 5vw;
    font-family:Arial, Helvetica, sans-serif;
}

th, td{
    border: 2px solid #000000;
    text-align: center;
}

.hide_cell{
    background-color: #ffffff;
    border: 0;
}

.clear{
    width: 18.6vw;
    font-size: 17px;
}

.upper_table tr :nth-child(3), .upper_table tr :nth-child(4){
    border: none;
    background-color:#ffffff
}
.lower_table tr :nth-child(3), .lower_table tr :nth-child(4){
    border: none;
    background-color:#ffffff
}

.upper_table  tr:nth-child(even), .upper_table tr:nth-child(even), .lower_table tr:nth-child(even), .lower_table  tr:nth-child(even), .final_total tr:nth-child(even), .sum_table tr:nth-child(even){
    color:#585757; 
    background-color:#E8E8E8;
}
.upper_table  tr:nth-child(odd), .upper_table tr:nth-child(odd), .lower_table tr:nth-child(odd), .lower_table  tr:nth-child(odd), .final_total  tr:nth-child(odd), .sum_table tr:nth-child(odd){
    background-color:#8BBEB2;
}

.sum_table tr td{
    color:#585757; 
    background-color:#E8E8E8;
}

.final_total td, th{
    width: fit-content;
    word-break: break-word;
}

.final_total{
    width: 20vw;
    height: 30vh;
}